<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>computed实现双向数据绑定</title>
    <script src="./js/vue.js"></script>
</head>

<body>
    <div id="app">
        <p>姓：<input type="text" v-model="firstname"></p>
        <p>名：<input type="text" v-model="aftername"></p>
        <p>全名: <input type="text" v-model="getname"></p>
        <!-- <ul>
            <li v-for="(item, index) in list" :key="item.id">
                <span>{{item.name}}</span>
                <span>{{item.age}}</span>
                <input type="text">
            </li>
        </ul> -->
    </div>

</body>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                firstname: '宋',
                aftername: '增杰'
                // list: [{
                //     id: 1,
                //     name: '张三',
                //     age:'18'
                // }, {
                //     id: 2,
                //     name: '李四',
                //     age:'18'
                // }, {
                //     id: 3,
                //     name: '王五',
                //     age:'18'
                // }]
            }
        },
        methods: {

        },
        computed: {

            getname:{
                get(){
                    return this.firstname + '-' + this.aftername
                },
                set(val){
                    let runt=val.split('-')
                    this.firstname=runt[0]
                    this.aftername=runt[1]
                }

            }
        },
    })
</script>


</html>