<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>方法实现名字绑定</title>
    <script src="./js/vue.js"></script>
</head>

<body>
    <div id="app">
        <p>姓：<input type="text" v-model="firstname" @input="change()"></p>
        <p>名：<input type="text" v-model="aftername" @input="change()"></p>
        <p>全名: <input type="text" v-model="fullnames" @input="fullname()"></p>
    </div>

</body>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                firstname: '宋',
                aftername: '增杰',
                fullnames: '宋-增杰'
            }
        },
        methods: {
            change() {
                this.fullnames = this.firstname + '-' + this.aftername
            },
            fullname() {
                let runt = this.fullnames.split('-')
                this.firstname=runt[0]
                this.aftername=runt[1]
            }
        },
    })
</script>

</html>